.move{
    position: relative;
    animation-name: animate;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-fill-mode:both;
    animation-fill-mode: forwards;
   }
@keyframes animate{
    
    0%{top:0px; top:0px;}
    25%{left:0px; right:300px;}
    50%{left:300px; right:300px;}
    75%{left:300px; right:0px;}
    100%{left:0px; right:0px;} 
    }
   
    